<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>错误页面</title>
    <!-- 引入Bootstrap CSS -->

    <link rel="stylesheet" type="text/css"
          href="/css/jquery.pagination.css"/>
    <link rel="stylesheet" type="text/css"
          href="/assets/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/ckform.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript"
            src="/js/jquery.pagination.min.js">
    </script>
    <style>
        body {
            padding-top: 50px;
        }

        .container {
            max-width: 400px;
        }

        .error-template {
            padding: 40px 15px;
            text-align: center;
        }

        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 th:text="${error.code}">500</h1>
                <h2>Oops!</h2>
                <p th:text="${error.message}">
                    似乎出了点问题，请稍后再试。</p>
                <div class="error-details">
                    <p th:if="${not #strings.isEmpty(error.details)}"
                       th:text="${error.details}"></p>
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-home"></span>
                        返回首页 </a>
                    <a href="javascript:history.back()"
                       class="btn btn-default btn-lg"><span
                            class="glyphicon glyphicon-repeat"></span>
                        返回上一页 </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>